$vue-main: #fff;
$vue-blue: blue;
$vue-white: white;
$vue-green: green;
$vue-blue-light: lighten($vue-blue, 0%);
$vue-green-light: lighten($vue-green, 5%);
$vue-dark: #35495E;
$vue-darker: darken($vue-dark, 15%);
$body-color: #555;
$body-color-light: lighten($body-color, 5%);
$dark-grey: #35495e;
$linkColor: #08c;

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #666;
    box-sizing: border-box;
    font-weight: lighter;
    font-family: "Microsoft Yahei",sans-serif;
    -webkit-tap-highlight-color:transparent;
    &:focus {
        outline: none;
    }
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea {  -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: $vue-main;
}


.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}